<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kailua Car Rental</title>

</head>
<body>
<header>Kailua Car Rental
    <ul>
        <li><a>Home</a></li>
        <li><a href="/home/contract">New Contract</a></li>
        <li>Display All</li>
            <ul>
                <li><a href="home/displayAddresses">Addresses</a></li>
                <li><a href="home/displayCustomers">Customers</a></li>
                <li><a href="home/displayCar">Cars</a></li>
                <li><a href="home/displayTypes">Car Types</a></li>
                <li><a href="home/displayRentals">Rentals</a></li>
            </ul>
    </ul>
</header>
</body>
</html>